Package: tapita
Priority: extra
Section: sound
Installed-Size: 100
Maintainer: monon@quadraphonic
Architecture: amd64
Version: 3.2-2
Depends: libgtk2.0-0 , libasound2, libjack-jackd2-0 | libjack-0.116
Provides: tapita
Description: Tapita (snack in spanish) is a BPM detector Tapita uses alphanumeric keyboard, MIDI or audio via jack as inputs to detect pulses.
 Tapita (snack in spanish) is a BPM detector Tapita uses alphanumeric keyboard, MIDI or audio via jack as inputs to detect pulses.
